<!DOCTYPE html>
<html>
<head>
  <title>Redis Data Viewer</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    form {
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      text-align: left;
      white-space: nowrap;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }



    td.actions {
      white-space: nowrap;
      text-align: center;
      padding: 8px;
    }
      /* Adjust styles for smaller screens */
    @media (max-width: 4px) {
      td.actions {
        padding: 4px; /* Reduced padding value for smaller screens */
      }
    }

    .scrollable-table {
      max-height: 400px;
      overflow-y: auto;
    }

    p.no-data {
      font-style: italic;
      color: #999;
    }
  </style>
</head>
<body>
  <h1>Redis Data Viewer</h1>

  <!-- Form to extract data -->
  <form action="/extract" method="post">
    <input type="submit" value="Extract Data from Redis">
  </form>
  <% if (dataWithISOString.length > 0) { %>
    <!-- Display keys with ISO string value -->
    <h2>ACTIVE</h2>
    <div class="scrollable-table">
      <table>
        <thead>
          <tr>
            <th>Key</th>
            
            <th>Value</th>
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataWithISOString.forEach(item => { %>
            <tr>
              <td><%= item.key %></td>
              
              <td><%= JSON.stringify(item.value, null, 2) %></td>
              <td class="actions">
                <form action="/delete" method="post">
                  <input type="hidden" name="key" value="<%= item.key %>">
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } %>

  <% if (dataWithE.length > 0) { %>
    <!-- Display keys with value 'E' -->
    <h2>'E'</h2>
    <div class="scrollable-table">
      <table>
        <thead>
          <tr>
            <th>Key</th>
          
            <th>Value</th>
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataWithE.forEach(item => { %>
            <tr>
              <td><%= item.key %></td>
           
              <td><%= JSON.stringify(item.value, null, 2) %></td>
              <td class="actions">
                <form action="/delete" method="post">
                  <input type="hidden" name="key" value="<%= item.key %>">
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } %>


  <% if (dataWithoutEAndISOString.length > 0) { %>
    <!-- Display keys without value 'E' or ISO string value -->
    <h2>Keys without value 'E' or ISO String Value</h2>
    <div class="scrollable-table">
      <table>
        <thead>
          <tr>
            <th>Key</th>
       
            <th>Value</th>
            <th class="actions">Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataWithoutEAndISOString.forEach(item => { %>
            <tr>
              <td><%= item.key %></td>
              <td><%= item.type %></td>
              <td><%= JSON.stringify(item.value, null, 2) %></td>
              <td class="actions">
                <form action="/delete" method="post">
                  <input type="hidden" name="key" value="<%= item.key %>">
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } %>

  <!-- Form to delete all data from Redis -->
  <form action="/deleteAll" method="post">
    <input type="submit" value="Delete All Data from Redis">
  </form>
</body>
</html>
